form {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.input-container {
  display: flex;
  align-items: center;
}

.image-container {
  width: 100%;
}
